table {
    border-collapse: collapse;
    border-color: black;
    padding: 5px;
    width: 50%;
}

tr, th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#create {
  background: #2761ae;
  color: white;
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.delete {
  background: #ae2727;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
    margin-bottom: 10px;
  }

input[type="text"], input[type="date"], textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #27ae60;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: #1e8449;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}